md-toolbar(layout="row" ng-controller="NavbarController")
  div.md-toolbar-tools
    md-button.md-icon-button&attributes({
      "ng-click": "toggleSidenav('left')",
      "hide-gt-sm": ""
    })
      md-icon menu
    h1.md-breadcrumb
      span(hide show-gt-md)
        span{{'SITE_NAME' | translate}}
        md-icon.md-ch chevron_right
      span(hide show-gt-sm)
        span Problems
        md-icon chevron_right
      span(hide show-gt-xs)
        span 1000 A+B Problem
        md-icon chevron_right
      span Submit
      
