md-toolbar(layout="row" ng-controller="NavbarController")
  div.md-toolbar-tools
    md-button.md-icon-button&attributes({
      "ng-click": "toggleSidenav('left')",
      "hide-gt-sm": ""
    })
      md-icon menu
    h1 {{'SITE_NAME' | translate}} > Home
