div.md-toolbar-tools-bottom.inset(layout="column")
  div(flex)
    div.user-avatar(style="background-image: url({{user.avatar}})")
  div.md-caption(flex) 呆萌的弛哥万万没想到自己变成了大光头
  div(layout="row" flex layout-align="space-between center")
    span.md-caption(flex="30") OI 入门
    md-progress-linear(flex md-mode="determinate" value="20")
