md-sidenav.md-sidenav-left.md-whiteframe-z2&attributes({
  layout: "column",
  "md-component-id": "left",
  "md-is-locked-open": "$mdMedia('gt-sm')"
})
  div(ng-controller="SidebarController")
    md-toolbar.md-tall.md-hue-2.menu-header
      include avatar
    md-list
      md-menu-item
        md-button(ng-click="showSearch($event)")
          md-icon.md-primary.md-hue-2(md-menu-align-target) search
          span(
            translate="SIDEBAR_SEARCH"
            translate-value-site="{{'SITE_NAME' | translate}}"
          )
      div(ng-repeat="menu in menus")
        md-subheader(ng-if="menu.subheader")
          {{menu.subheader | translate}}
        md-menu-item(ng-repeat="item in menu.items")
          md-button(ng-href="#/{{item.url}}")
            md-icon.md-hue-2(ng-class="'md-' + item.class" md-menu-align-target) {{item.icon}}
            span {{item.name | translate}}
        md-divider
      md-menu-item
        p: small(
          translate="SIDEBAR_POWERED_BY_CLOUDOJ"
          translate-value-site="{{'SITE_NAME' | translate}}"
        )
