md-sidenav.md-sidenav-left.md-whiteframe-z2&attributes({
  layout: "column",
  "md-component-id": "left",
  "md-is-locked-open": "$mdMedia('gt-sm')"
})
  div(ng-controller="SidebarController")
    md-toolbar.md-tall.md-hue-2.menu-header
      div.md-toolbar-tools-bottom.inset(layout="row")
        div(flex)
          div.user-avatar(style="background-image: url({{user.avatar}})")
        div(flex)
          div SkyZH

    md-list
      md-menu-item
        md-button
          md-input-container.md-block(md-no-float)
            md-icon.md-primary(md-menu-align-target) search
            input(ng-model="search" type="text" placeholder=" {{'SIDEBAR_SEARCH' | translate}}")
      div(ng-repeat="menu in menus")
        md-subheader&attributes({
          'ng-show': "menu.subheader"
        })
          {{ menu.subheader | translate }}
        md-menu-item(ng-repeat="item in menu.items")
          md-button(ng-href="#/{{item.url}}")
            md-icon(ng-class="'md-' + item.icon_class" md-menu-align-target) {{item.icon}}
            | {{item.name | translate}}
        md-divider
      md-menu-item
        p: small Powered by CloudOJ
