md-content(layout="column" flex md-scroll-y)
  md-toolbar.md-whiteframe-1dp
    include ../navbar/index
  md-content(
    layout="row"
    layout-wrap
    layout-align="center"
    layout-padding
  )
    div(flex="70" flex-xs="100" layout="column" ng-include="url")
