.ng-cloak {
    display: none !important;
}

.menu-header {
    min-height: 200px;
    .user-avatar {
        border-radius: 99%;
        overflow: hidden;
        width: 108px;
        height: 108px;
        display: inline-block;
        background-size: cover;
    }
    div {
        font-size: small;
    }
}

md-content {
  background-color: #eee;
}

.md-breadcrumb {
  md-icon {
    color: #444 !important;
  }
  div {
    display: inline-block;
  }
}
