.ng-cloak {
    display: none !important;
}

.menu-header {
  min-height: 200px;
  .user-avatar {
    border-radius: 99%;
    overflow: hidden;
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
  }
  div {
    font-size: small;
  }
}

md-content {
  background-color: #eee;
}

.md-breadcrumb {
  div {
    display: inline-block;
  }
}

md-sidenav {
  min-width: 260px;
  max-width: 260px;
  width: 260px;
  overflow-x: hidden;
}
