md-content.background(layout="column" flex md-scroll-y)
  md-toolbar(md-theme="home")
    include ../navbar/index
  md-content(
    layout="column"
    layout-padding
    layout-align="center center"
  )
    h1.title.md-headline OJBUG | OIers 的在线评测平台
    h1.title.md-display-4 ∞
    div(layout="row")
      md-button.md-raised.md-primary(ng-href="#/problem") 题库
      md-button.md-raised.md-primary 注册
      md-button.md-raised.md-primary 登录
