md-content.background(layout="column" flex)
  md-toolbar(md-theme="home")
    include ../navbar/index
  md-content(
    layout="column"
    layout-padding
    md-scroll-y
    layout-align="start center"
  )
    h1.title.md-headline(flex="30") OJInf | 创造无限可能
    img.title(src="/images/infinite.svg" width="256px")
    div(flex="30" layout="row" layout-align="center center")
      md-button.md-raised.md-primary.md-hue-2(ng-href="#/problem") 
        md-icon code
        span {{'SIDEBAR_PROBLEM'|translate}}
      md-button.md-raised.md-primary.md-hue-2(ng-href="#/problem") 
        md-icon today
        span {{'SIDEBAR_CONTEST'|translate}}
      md-button.md-raised.md-accent.md-hue-2 
        md-icon open_in_new
        span {{'SIDEBAR_REGISTER'|translate}}
      md-button.md-raised.md-accent.md-hue-2 
        md-icon exit_to_app
        span {{'SIDEBAR_LOGIN'|translate}}
