md-content.background(layout="column" flex md-scroll-y)
  md-toolbar(md-theme="home")
    include ../navbar/index
  md-content(
    layout="column"
    layout-padding
    layout-align="center center"
  )
    h1.title.md-headline OJBug | 创造无限可能
    img.title(src="/images/infinite.svg" width="256px")
    div(layout="row")
      md-button.md-raised.md-accent(ng-href="#/problem") 题库
      md-button.md-raised.md-accent 注册
      md-button.md-raised.md-accent 登录
