md-content.background(layout="column" flex)
  md-toolbar(md-theme="home")
    include ../navbar/index
  md-content(
    layout="column"
    layout-padding
    md-scroll-y
    layout-align="start center"
  )
    div
      h1.title.md-display-4(layout="row" layout-xs="column" layout-align="start center")
        span OJ
        span.img-home-inf
        span.md-display-2 =
        span 创造
    div.nav-home.md-whiteframe-z2(layout="row" layout-align="center" layout-wrap)
      md-button.md-primary.md-hue-2.block(ng-href="#/problem") 
        md-icon code
        span {{'SIDEBAR_PROBLEM'|translate}}
      md-button.md-primary.md-hue-2.block(ng-href="#/contest") 
        md-icon today
        span {{'SIDEBAR_CONTEST'|translate}}
      md-button.block(ng-href="#/user/login") 
        md-icon open_in_new
        span {{'SIDEBAR_REGISTER'|translate}}/{{'SIDEBAR_LOGIN'|translate}}
