div.relative(layout-fill)
  md-button.md-fab.md-fab-bottom-right
    md-icon add

md-content(flex md-scroll-y)
  include ../navbar/index.jade
  md-content.md-padding(layout="row" layout-wrap layout-align="center start" layout-fill)
    md-card(flex="50" flex-sm="50" flex-xs="100" ng-repeat="message in messages")
      md-card-content
        md-card-title
          md-card-title-text
            span.md-headline {{message}}
        md-card-actions(layout="row" layout-align="end center")
          md-button.md-primary {{'CARD_DONE' | translate}}
          md-button {{'CARD_DISMISS' | translate}}
