span#title(hidden) 反馈
md-card-title
  md-card-title-text
    span.md-headline 反馈
    span.md-subhead 提出您的建议与想法
md-card-content
  p 十分感谢您的反馈。在使用 CloudOJ 发现任何问题，都可以在 [Github](https://github.com/OnWind/CloudOJ/issues) 上提交 issue。如果您遇到了无法登录，无法注册等问题，您可以向站长反馈。
md-card-actions(layout="column" layout-align="start")
  md-button(ng-href="#{config.package.homepage}") {{'HELP_ABOUT_REPO_ON_GITHUB' | translate}}
