md-dialog.ng-cloak
  form
    md-toolbar
      div.md-toolbar-tools
        h2(
          translate="SIDEBAR_SEARCH",
          translate-value-site="{{'SITE_NAME' | translate}}"
        )
        span(flex)
        md-button.md-icon-button
          md-icon close
    md-dialog-content
      div.md-dialog-content
        p Hello, World!
    md-dialog-actions(layout="row")
      span(flex)
      md-button OK
